<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PickMeUp</title>
</head>
<body>
  <p>TODO: Swagger missing</p>
  <p>Passenger</p>
  <ul>
    <li>GET /api/passenger/list/</li>
    <li>GET /api/passenger/{passenger_id}/</li>
    <li>POST /api/passenger/register/</li>
    <div>
      Content type: application/json
    </div>
    <pre>
      {
        "username": "test02",
        "first_name": "Jane",
        "last_name": "Doe",
        "email": "jane.doe@mail.com",
        "skype_id": "jane223",
        "cellphone": 999777777
      }
    </pre>
  </ul>
</body>
</html>
